[Unit]
Description=QBIC Masternode

[Service]
Type=forking
ExecStart=/usr/local/bin/qbicd
ExecStop=/usr/local/bin/qbic-cli
User=qbic

[Install]
WantedBy=multi-user.target
